<div class="pagebackground clearfix">
<div class="container">
    <section class="background_pages banner_about">
        <div class="blog_header">
            <h2>
                Get in Touch
            </h2>
            <p class="moto"> {{title}}</p>
        </div>
    </section>
    <section class="section_contact">
        <form accept-charset="UTF-8" id="contactform" name="myForm" action="/contact/create" onsubmit="" method="post">
            <label class="required" for="name">First name</label>
            <input id="name" name="name" required type="text" placeholder="your first name" />
            <label class="required" for="surname">Surname</label>
            <input id="surname" name="surname" required type="text" placeholder="your surname" />
            <label class="required" for="email">Email</label>
            <input id="email" required name="email" type="email" placeholder="your email address" />
            <label class="required" for="message">Message</label>
            <textarea id="message" required name="message" placeholder="your message here"></textarea>
            <button class="button" type="submit" form="contactform">Submit</button>
        </form>
    </section>

</div>
</div>