<!-- Footer -->
<footer>
    <div class="content-width">
        <div class="inner_container clearfix">
            <div class="get_in_touch">
                <h4>
                    Get in touch
                </h4>
                <p>
                    Any questions? Let us know by calling or texting (+353) 87-2308330, email info@irelandcactus.com or by using the form on the Contact page.
                </p>
                <!--social media - icons from fontawesome-->
                <div class="social">
                    <a href="#" class="color_pink fa fa-facebook"></a>
                    <a href="#" class="color_pink fa fa-instagram"></a>
                    <a href="#" class="color_pink fa fa-pinterest-p"></a>
                </div>

            </div>
            <div class="get_in_touch2">
                <h4>
                    Address
                </h4>
                <p>
                    The Dublin and District<br />
                    Cactus and Succulent Society<br />
                    25 Shanowen Crescent<br />
                    Dublin 9
                </p>
            </div>

        </div>
    </div>
    <div class="vertical">
        <span></span><p>&copy; gabrielaantohi.eu</p>
    </div>
    <!-- Back to top button :) -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/stylesheets/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="/stylesheets/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick-custom.js"></script>
    <script src="../../javascripts/main.js"></script>


</footer>



