	<!-- Header -->
<header class="header1">
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="https://www.facebook.com/CactusandSucculentSocietyofIreland" class="topbar-social-item fa fa-facebook" target="_blank"></a>
                <a href="#" class="topbar-social-item fa fa-instagram" target="_blank"></a>
                <a href="https://twitter.com/CactusSocietyIE" class="topbar-social-item fa fa-twitter" target="_blank"></a>
                <a href="https://www.pinterest.co.uk/irishcactusandsucculentsociety" class="topbar-social-item fa fa-pinterest-p" target="_blank"></a>
            </div>
        </div>

        <div class="wrap_header">
            <!-- logo -->
            <a href="/" class="logo">
                {{ societyAbbreviation }}
            </a>
            <!-- nav -->
            <div class="wrap_menu">
                <div id="container">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/blog">News</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/mobile.js"></script>







