<section class="clearfix index">
    <div id="index_banner">
    </div>
    <h2 class="index_header">
        Welcome to the Irish Cactus and Succulent Society Website
    </h2>
</section>
<!-- New Product -->
<section class="newproducts clearfix">
    <div class="container">
        <h3 class="center">
            Calendar * 2019
        </h3>
        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">
                    </div>
                    <div class="calendar_date">
                        <h3>May</h3>
                        <h4>
                            the 2nd
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Greenhouse Visit
                            </strong>

                            - Visiting Lyn Kimberly and her huge collection of cacti in Belfast.
                        </p>

                    </div>
                </div>


                <div class="item-slick2 currentmonth">
                    <!-- Block2 -->

                    <div class="top-bar">
                    </div>

                    <div class="calendar_date">
                        <h3>August</h3>
                        <h4>
                            the 5th
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Identification Meet
                            </strong>

                            - bring your mystery plants in and we will do our best
                        </p>

                    </div>
                </div>

                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">

                    </div>
                    <div class="calendar_date">
                        <h3>September</h3>
                        <h4>
                            the 8th
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Sale
                            </strong>

                            - Plant sale at the Dublin Botanic Gardens
                        </p>

                    </div>
                </div>

                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">
                    </div>
                    <div class="calendar_date">
                        <h3>November</h3>
                        <h4>
                            the 21st
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Exhibition
                            </strong>
                            - members are presenting their plants, the best will be awarded 
                        </p>

                    </div>
                </div>

                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">

                    </div>

                    <div class="calendar_date">
                        <h3>December</h3>
                        <h4>
                            the 11th
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Identification Meet
                            </strong>

                            - bring your mystery plants in and we will do our best
                        </p>

                    </div>

                </div>

                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">

                    </div>

                    <div class="calendar_date">
                        <h3>January</h3>
                        <h4>
                            the 12th
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Identification Meet
                            </strong>

                            - bring your mystery plants in and we will do our best
                        </p>

                    </div>
                    <p class="bottom-bar">

                    </p>
                </div>

                <div class="item-slick2">
                    <!-- Block2 -->
                    <div class="top-bar">

                    </div>

                    <div class="calendar_date">
                        <h3>February</h3>
                        <h4>
                            the 9th
                        </h4>
                        <p>
                            ~ 6:30 pm
                        </p>
                        <p class=" meetdescription">
                            <strong>
                                Plant Identification Meet
                            </strong>

                            - bring your mystery plants in and we will do our best
                        </p>

                    </div>
                    <p class="bottom-bar">

                    </p>
                </div>

            </div>
        </div>

    </div>
</section>

<!-- potting party -->
<section id="" class="potting clearfix">
        <div class="potting_small onleft">
            <div class="text">
                <h3>
                    Become a MEMBER!*:)
                </h3>

            </div>
        </div>

        <div class="potting_small onright">
            <div class="text">
                <p>
                    Joing us on the 5th of August at the Botanic Gardens to become a member.
                </p>
                <p>
                    <strong>
                        Benefits of membership:
                    </strong>
                </p>
                <ul>
                    <li><span class="">&midast;</span>Illustrated talks on various methods of culture</li>
                    <li><span class="">&midast;</span>Extensive seed list  </li>
                    <li><span class="">&midast;</span>Society Library from which members may borrow books on all aspects of C & S  </li>
                    <li><span class="">&midast;</span>Members plants sales or exchanges</li>
                    <li><span class="">&midast;</span>Advice on plant cultivation</li>
                    <li><span class="">&midast;</span>Four full colour magazines a year</li>
                    <li><span class="">&midast;</span>The Biannual Cactus & Succulent Society Branch Show.</li>
                    <li><span class="">&midast;</span>Lectures on various trips made to see these plants in their native habitat  </li>
                    <li><span class="">&midast;</span>Plants you wish to have identified  </li>
                    <li><span class="">&midast;</span>Exhibitions  </li>
                </ul>
            </div>
        </div>
</section>

<section class="stories clearfix">
    <div class="container">
        <h3 class="center">
            Our Blog Posts
        </h3>
        <!-- blog post -->
      
            {{#each blogs}}

            {{#each this}}
            <div class="size">
                    <div class="relative block image_zoom">
                        <img src="{{this.imagePath}}" alt="IMG-BLOG">
                    </div>

                    <h4>
                        {{this.title}}
                    </h4>
                    <div class="span_details">
                        <span>
                            {{this.author}}
                            <span class="span_line">|</span>
                        </span>
                        <span>
                            Cactus
                        </span>
                    </div>
                    <p>
                        {{this.content}}
                    </p>
                </div>
                {{/each}}
            {{/each}}
        </div>

</section>




