<form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
    <input class="button" type="file" name="sampleFile" />
    <input class="button" type="submit" value="Upload!" />
</form>
