
<section class="py-5 section_contact container">
    <h1 class="display-3">Thank You</h1>
    <p class="lead">Your plants will be sent to you soon.</p>
    <a href="/" class="btn btn-raised btn-success btn-lg">Go Back Home</a>
</section>