<div class="pagebackground clearfix">
    <div class="container">
        <section class="background_pages banner_about">
            <div class="about_header">
                <h2>
                   About Us
                </h2>
                <p class="moto">{{title}}</p>
            </div>
        </section>
        <section class="section_about clearfix">
            <p style="font-size:18px;">
                <strong>
                    Thank you for visiting our website!
                </strong>
            </p>
            <p>
                The Dublin and District Cactus and Succulent Society is a branch of the British Cactus and
                Succulent Society and together with Northern Ireland Branch, forms Zone 17 of the Society.
            </p>
            <p>All visiting C&S enthusiast visiting Dublin are most welcome. </p>
            <p>Meetings for 2019 usually take place on the 2nd Thursday of each month at about 6.30pm.</p>

            <p>
                The usual venue for meetings is: <strong>National Botanic Gardens, Botanic Road, Glasnevin. Dublin. 9</strong>
            </p>

            <blockquote>
                <p>
                    Plant your own gardens and decorate your own soul, instead of waiting for someone to bring you flowers.
                </p>
                <span class="span_details right">
                    - Jorge Luis Borges
                </span>
            </blockquote>
        </section>
        </div>
    </div>


