<div class="pagebackground clearfix">
    <div class="container">
        <section class="background_pages banner_about">
            <div class="about_header">
                <h2>
                    {{title}}
                </h2>
                <p class="moto">Learn more about the Society</p>
            </div>
        </section>
        <section class="section_about clearfix">
            <div class="right">
                <p>Whether you are an expert grower or a novice – or are just thinking of starting in the hobby – the Society can guide you along the way. </p>
                <p>You will have the opportunity to meet other enthusiasts and to learn more about growing these amazing plants at our monthly meetings. We also have a bi-annual show in the National Botanic Gardens and occasional visiting speakers.</p>
            </div>
            <div class="left">
                <p>The Society was founded in 1990 and for administrative purposes and support we are constituted as a branch of the British Cactus and Succulent Society. So, CactusWorld, the Society’s beautifully illustrated quarterly magazine is just one of the benefits that members receive. It contains articles about new species, plants in the wild and cultivation techniques. </p>
                <p>This website offers information about the Society – including how to join – and is being added to on a regular basis. It is your gateway to the wonderful world of cacti and other succulents. Why not join us!</p>
            </div>
            <div class="question img clearfix">
            </div>
        </section>
        </div>
    </div>


